---
title: "RAM usage test results"
date: 2007-08-11
forum: The Cafe
---

### Post by Specter043 on 2007-08-11
I am looking into a laptop, and wanted to know how much RAM I would need.  I decided to test it by opening pretty much every program on my Ubuntu install right now.  I thought some of you might find this interesting.

(this is pretty much every window that was open, which is why there is a pidgin entry, and a pidgin IM window entry)
(Web browser entries indicate a window for every entry.  parenthesis is the tabs open)

Pidgin
Database Wizard
Opera (Speedtest.net)
Disk Usage Analyzer
the GIMP
K3b
CHM viewer
Firefox (iGoogle, Charlieoscardelta, MLGpro, Myspace)
Firefox (Speedtest.net, Ubuntuforums, 360voice, Ubuntuforums)
Firefox (Answers.com, GetDeb.net)
Pidgin IM window
Synaptic Package Manager
GnomeBaker
Listen Music Player (Music Playing)
Gparted
GQview
GNUmeric
Bulk Rename
Epiphany Web Browser (System76)
Deluge BT Client
Ktorrent
System Monitor

Total RAM usage 522.6 MB Max
15 MB swap
I knew it wasn't as demanding as Windows, But this is ridiculous.  Now I just need to try it in Xubuntu.:)

---

### Post by HermanAB on 2007-08-11
Linux uses all available RAM.  Whatever RAM is not used, is money that is wasted.

Soooo, where does that leave you?  If you want to have a nice and snappy system, install 1GB or more.  If you have little money, install 384MB.  It will run on 256MB or less, but you may get tired of waiting.

'Hope that helps!

Herman

---

### Post by starcraft.man on 2007-08-11
> **Specter043 said:**
> I am looking into a laptop, and wanted to know how much RAM I would need.  I decided to test it by opening pretty much every program on my Ubuntu install right now.  I thought some of you might find this interesting.

(this is pretty much every window that was open, which is why there is a pidgin entry, and a pidgin IM window entry)
(Web browser entries indicate a window for every entry.  parenthesis is the tabs open)

Pidgin
Database Wizard
Opera (Speedtest.net)
Disk Usage Analyzer
the GIMP
K3b
CHM viewer
Firefox (iGoogle, Charlieoscardelta, MLGpro, Myspace)
Firefox (Speedtest.net, Ubuntuforums, 360voice, Ubuntuforums)
Firefox (Answers.com, GetDeb.net)
Pidgin IM window
Synaptic Package Manager
GnomeBaker
Listen Music Player (Music Playing)
Gparted
GQview
GNUmeric
Bulk Rename
Epiphany Web Browser (System76)
Deluge BT Client
Ktorrent
System Monitor

Total RAM usage 522.6 MB Max
15 MB swap
I knew it wasn't as demanding as Windows, But this is ridiculous.  Now I just need to try it in Xubuntu.:)

Just curious but were you actually running these programs under actual daily load (i.e. burning/ripping with k3b/gnomebaker, playing music listen, etc...) or did you just load them up as programs. Their idle usage is lower than their active usage I'd imagine.

As for my recommendation, 2 GB is  optimal today. I wouldn't get a system today (notebook or desktop) with less than that. Being the performance nut I am with a desire to do lots of intensive things like VMs, games, a bit of rendering and such, I personally would go with 4 even if it wasn't all used at every moment. RAM isn't that expensive anyway... if you don't want to pay the markup from the OEM/manufacturer then buy a notebook with 512 RAM and upgrade it to 2 GB yourself. Most notebooks now allow easy access to the RAM and HD, make sure your model is one of these.

---

### Post by Specter043 on 2007-08-11
Music was playing in listen, but most of the other ones were idle.  I was mainly just noticing how little RAM it was using, compared to running windows programs idle,  I don't think any of my windows friends could have pulled this off.

---

### Post by starcraft.man on 2007-08-11
> **Specter043 said:**
> Music was playing in listen, but most of the other ones were idle.  I was mainly just noticing how little RAM it was using, compared to running windows programs idle,  I don't think any of my windows friends could have pulled this off.

Ok then. My recommendation is still a solid 2 GB (leaves lots of room). Whether you want to pay the OEM mark up or upgrade to it is up to you :).

---

### Post by aysiu on 2007-08-11
Get an understanding of how Linux handles RAM:
[http://gentoo-wiki.com/FAQ_Linux_Memory_Management](http://gentoo-wiki.com/FAQ_Linux_Memory_Management)

---

### Post by goumples on 2007-08-12
One of my computers has an athlon 2.4ghz processor and 512mb of ram... its much faster running ubuntu with compiz-fusion than with it was when it had win xp home on it... I'd recommend at least 1gig of ram tho.. in any case.

---

