---
title: "Why don't these forums have email verification?"
date: 2007-06-11
forum: Forum Feedback &amp; Help
---

### Post by Linux Killer! on 2007-06-11
With most other forums on the net, once you finish the preliminary registration for a new account you're informed that an email has been sent to your email address, at which point you should recover it, click on a link inside the mail and thus complete the account registration.

I've always wondered why the Ubuntu Forums don't  use email verification. Here you can just sign up, give a fake email, it doesn't matter, because once you've filled in the particulars you're good to go. Surely having an email verification step would be one more way to avoid spam bots, or at the very least discourage trolls? Or is the idea of not having a verification suppose to be in the spirit of Ubuntu or something? Just curious is all.

---

### Post by ubuntu-geek on 2007-06-12
Too many people complained :)

---

### Post by Old Pink on 2007-06-13
Because bots can't work around the ridiculous reply procedure.

[http://ubuntuforums.org/showthread.php?t=272696](http://ubuntuforums.org/showthread.php?t=272696) :roll: 

And "too many people complained" about that link, but you don't do anything! :(

---

### Post by KiwiNZ on 2007-06-13
> **Old Pink said:**
> Because bots can't work around the ridiculous reply procedure.

[http://ubuntuforums.org/showthread.php?t=272696](http://ubuntuforums.org/showthread.php?t=272696) :roll: 

And "too many people complained" about that link, but you don't do anything! :(

Too many ? no

---

### Post by ubuntu-geek on 2007-06-13
> **Old Pink said:**
> Because bots can't work around the ridiculous reply procedure.

[http://ubuntuforums.org/showthread.php?t=272696](http://ubuntuforums.org/showthread.php?t=272696) :roll: 

And "too many people complained" about that link, but you don't do anything! :(
I told you why we have the reply feature we do in this post.  It's not being changed

[http://ubuntuforums.org/showpost.php?p=1589164&postcount=4](http://ubuntuforums.org/showpost.php?p=1589164&postcount=4)

---

