---
title: "Install these packages without verification???"
date: 2007-02-10
forum: Repositories &amp; Backports
---

### Post by cseg on 2007-02-10
I just installed a fresh copy of ubuntu 6.10 server.

I just logged in for the first time and am doing an apt-get update/upgrade.

It is giving me the following WARNING:  The following packages cannot be authenticated:
   tar gnupg bind9 ... linux-image-2.6.17-10-server linux-server

I don't remember seeing this before.

What's going on with the repository?  Is it under attack?  Is it safe to install these packages?

cc

---

### Post by Kzin on 2008-02-10
Got the same thing for gnucash just now.  Is it safe?

```
WARNING: The following packages cannot be authenticated!
  guile-1.6 slib guile-1.6-slib libcrypt-ssleay-perl libdate-manip-perl
  libhtml-tableextract-perl libfinance-quote-perl libgsf-gnome-1-114
  libgoffice-0-common libgoffice-0-4 libosp5 libofx3 psfontmgr gnucash-common
  gnucash
Install these packages without verification [y/N]? 
```

---

### Post by Kzin on 2008-02-10
oops, sorry for reviving dead thread, I forgot its 2008 now =/

---

