---
title: "Reporting test results"
date: 2009-05-14
forum: Karmic Koala Testing and Discussion (CLOSED)
---

### Post by davideotape on 2009-05-14
So, I've found this website: [http://testcases.qa.ubuntu.com/](http://testcases.qa.ubuntu.com/) , which gives a list of tests that need carrying out. I can't find any page that tells you how to report tests though. Anyone know how to? Or am I getting the wrong end of the stick?

---

### Post by ronacc on 2009-05-14
looks to me like you report directly to the wiki

---

### Post by freeman2000 on 2009-05-14
Interesting page.... with no directions.  I'd be willing to help also, but we need more info.

---

### Post by Nullack on 2009-05-14
Its designed for ISO tests. You can link test results of specific ISO builds to specific bugs. Its useful for the testing team to see how eligible a build might be for an Ubuntu release. Get involved if you want :)

---

### Post by kostkon on 2009-05-14
The simplest thing you could do is to use the system testing and report utility in *System &#8594; Admininstration &#8594; System Testing*

---

### Post by Gina on 2009-05-15
That sounds a very good idea, in general - and a timely reminder :)  But I think we are talking about checking out particular bugs?

---

### Post by davideotape on 2009-05-15
> **kostkon said:**
> The simplest thing you could do is to use the system testing and report utility in *System &#8594; Admininstration &#8594; System Testing*

How often should one carry out that testing? Too often and the devs get flooded with duplicate information, but too seldom and they don't get enough information...

---

### Post by Gina on 2009-05-15
I'd like to know that too.

---

