---
title: "System Testing Report"
date: 2010-02-12
forum: New to Ubuntu
---

### Post by mahoopes on 2010-02-12
Hi, I used System Testing to produce a report on my laptop systems,  and then provided my email address to submit it to Launchpad.  Is that all I need to do?  Will I get an analysis or other response?  Thanks - loving version 9.10!

---

### Post by subodh.rohilla on 2010-02-12
No, The information will be submitted only if you have an launchpad account with the email id you provided.

Well, This is a kind of feedback to ubuntu which they can use to improve their hardware support. So, you can help ubuntu development by submitting the information . You need worry about getting response even if you don't get any from ubuntu developers.

---

### Post by mahoopes on 2010-02-14
Thanks for your response.  I do use that email address as my Launchpad log-in.

---

