---
title: "K3b verification"
date: 2009-11-06
forum: New to Ubuntu
---

### Post by gridd on 2009-11-06
why is it that with iso downloads K3b is still is still reporting error on verifying after burning? first reported around  March 2008 or earlier. 
I would have thought a fix for this should have been sorted by now? 


[http://ubuntuforums.org/showthread.php?t=828141&highlight=K3b+doesnt+verify&page=2](http://ubuntuforums.org/showthread.php?t=828141&highlight=K3b+doesnt+verify&page=2)

---

