---
title: "Laggy and Slow Test Run"
date: 2013-03-11
forum: New to Ubuntu
---

### Post by Gibson295 on 2013-03-11
I Was searching for an alternatives to Windows XP on an older HP pavillion from 2003.
I Downloaded the Lubuntu 12.04 Operating system because i heard it was a great light weight alternatives for older computers.
I ran the installer, booted from the CD and it came up with the menu with 4-5 options. I selected Try Ubuntu. And it's incredibly slow Much slower then Windows XP, in fact magnitudes, Doesn't seem right memory useage is also a little more then i expected. Chromium web browser is literally unusable. Not sure what the issue is, task manager shows next to know CPU useage so i'm not sure if it's the computer or not. It works fine in the windows, i am just trying to find something that will use the littlest possible amount of ram so the computer can safetly be used for the purposes of Internet only, Such as email and facebook for a friend.

I believe it installed itself next to windows but everytime i start the computer their is no actual boot option asking me to select either or operating system.
But inside Windows XP the Disk management shows a partition was created (witch i don't know how to get rid of lol).

im not sure if i did something wrong or not. 

anybody have a recommendation for me (please don't trash a newbie lol)

Computer specs
HP Pavillion a527x
AMD Athlon 3000+ 2.10 Ghz 
(Windows XP Native 32-bit home)
512MB DDR 266 (can support up to 2gbs)
Don't know the video chip on board but it will play youtube videos
120gb IDE hard drive don't know speeds.

---

### Post by pinballwizard on 2013-03-11
So, did you try Ubuntu, or did you at some point select the Install Ubnuntu option?

Also, although Ubuntu will run on 512mb RAM, I'd suggest rather try Xubuntu. Will be much lighter.

---

### Post by Gibson295 on 2013-03-11
Hi, thanks for the reply.
No Actually I Tried Lubuntu.
If their's a difference.

I'm just not noticing it to be any more efficient then XP in fact it's Slower. So i was just wondering if i did something wrong lol

---

### Post by tgalati4 on 2013-03-11
If you max out the RAM to 2GB you will have a decent experience.  I have Linux Mint MATE 14 running on an older laptop (2004 vintage) and it runs acceptably well.  I put 2GB in it, but I'm using the old hard drive.

---

### Post by Gibson295 on 2013-03-11
Well ram was kind of hard to find that was compatible and a reasonable price.
would 1GB be of a better experience? i ddid purchase another 512mb stick for 5 bucks just waiting for it to arive hopefully it works.
if not, easily sellable.

I was just thinking if all else fails maybe their was an alternatives like a OS that do what i need this computer to do for someone off what it's got to work with.
that and i'd rather they not have to deal with looming security threats.

---

### Post by sanderj on 2013-03-11
> **Gibson295 said:**
> I Was searching for an alternatives to Windows XP on an older HP pavillion from 2003.
I Downloaded the Lubuntu 12.04 Operating system because i heard it was a great light weight alternatives for older computers.
I ran the installer, booted from the CD and it came up with the menu with 4-5 options. I selected Try Ubuntu. And it's incredibly slow Much slower then Windows XP, in fact magnitudes, 

Oh ... you're running Lubuntu from CD?! So without 'swap' and on a low-memory computer? Yes, that must be dead-slow.

Install it (the installer will make a swap partition), and it should work. Your decade old computer seems to be according to the Lubuntu specs; see [https://wiki.ubuntu.com/Lubuntu#System_Requirements](https://wiki.ubuntu.com/Lubuntu#System_Requirements)

---

### Post by ikt on 2013-03-11
> **sanderj said:**
> Oh ... you're running Lubuntu from CD?! So without 'swap' and on a low-memory computer? Yes, that must be dead-slow.

This was my thoughts as well, make sure you install Lubuntu to disk, and then compare.

Running from CD has never been fast for any Distro except for distro's specifically made for Live CD's. (Puppy Linux for example)

---

### Post by krustenBrot on 2013-03-11
From various Installations I did on older machines i have to say you  probably wont get to the speed of XP. XP due it is outdated and  shouldn't be used since support is ending April 2014 is still the  fastest and most convienient OS i used for Netbooks and comparable  machines.

---

### Post by sanderj on 2013-03-11
> **krustenBrot said:**
> From various Installations I did on older machines i have to say you  probably wont get to the speed of XP. XP due it is outdated and  shouldn't be used since support is ending April 2014 is still the  fastest and most convienient OS i used for Netbooks and comparable  machines.

Bravo!

Indeed: if you have very old hardware, and a WinXP license, WinXP is great. That is ... until April 2014, when support really, really ends.

---

### Post by Bucky Ball on 2013-03-11
1Gb of RAM and installed to the hard drive rather than running from CD will be a better experience. Much. ;)

---

### Post by The Cog on 2013-03-11
I agree that a hard disk install will be much, much faster than running from CD. 

If you didn't go through the "install Ubuntu" process, then you did not intsall Ubuntu on the hard disk. "Try Ubuntu" runs the entire OS from the CD, and with only 512M RAM that would indeed be painfully slow. The fact that you don't get a choice of OS as you boot is further evidence that you didn't install to hard disk. 

Make sure you backup any importatnt data before attempting an install. You never know what might go wrong.

---

### Post by pinballwizard on 2013-03-11
> **Gibson295 said:**
> 

I was just thinking if all else fails maybe their was an alternatives like a OS that do what i need this computer to do for someone off what it's got to work with.
that and i'd rather they not have to deal with looming security threats.

Yes.

antiX.

I had that banging just sweet on an ancient Dell with 64mb (yes, 64Mb) RAM.

---

### Post by 3rdalbum on 2013-03-11
Although Lubuntu is lighter than Ubuntu, it's not exactly a "lightweight distro".

Your computer from 2003 will be too old to have good performance with Lubuntu. If you want to extend the life of your computer you could try Puppy Linux. There are other distros you could try, but Puppy is a good user-friendly place to start. For best performance you do need to install the system, not just run it from CD.

Remember, Windows XP was released in 2001 and the latest Puppy was released in 2012. A modern Linux desktop distro will probably not match the speed of Windows XP on old hardware.

---

### Post by pfeiffep on 2013-03-11
I installed Ubuntu on an ancient Dell laptop celeron 1.5 Gz, 512 Mb ram. Then installation was next to intolerable, I upgraded ram to 2 Gb, 
used gnome session fall back, and completely wiped the Win XP (this is a secondary computer) - Ubuntu is much faster than XP 
with 2 Gb and installed on HD.  Caveat - I didn't check the speed of XP with 2 Gb - I was ready to kick M$ out anyway. ;-)

---

### Post by Rex Bouwense on 2013-03-11
I have Lubuntu on and old (2005) Dell Inspiron 1000 (512 Mbs RAM) and it runs quite well.  Lubuntu is a light weight OS and runs very fast when installed.  Of course when there is no swap (when trying it) it will run slower.

---

