---
title: "crontab verification"
date: 2009-01-20
forum: General Help
---

### Post by 0perator on 2009-01-20
hello i have set this crontab up as follows

0,6,12,18,24,30,36,42,48,54 * * * * "lynx\ uberbeef.org\/iploader\.php"


but as far as i can see it is not working :/

please tell me a way to "verify" my file, or how i can do it so it will just make lynx look at that file, thanks.

---

### Post by hyper_ch on 2009-01-20
what do you want to do?

---

