---
title: "Folder Security - Password Verification"
date: 2008-03-26
forum: General Help
---

### Post by RudolfMDLT on 2008-03-26
Hi there,

Is there a (an easy) way (if possible) to force a user to enter a password upon trying to view a folder? I have one or two folders on my Laptop in the Home folder that I want to keep prying eyes out, the guys in lab sometimes snoop around and copy(plagiarize) code when your not at your station, and it'll just make easier if I could have certain folders off limits. Though I don't want to have to run my IDE as root every time I want to access these files.

Thanks for any help or pointers,

Rudolf

---

### Post by #Reistlehr- on 2008-03-26
Maybe check out this link:

[http://www.movingtofreedom.org/2007/02/21/howto-encfs-encrypted-file-system-in-ubuntu-and-fedora-gnu-linux/](http://www.movingtofreedom.org/2007/02/21/howto-encfs-encrypted-file-system-in-ubuntu-and-fedora-gnu-linux/)

or seaching google wouldnt hurt.

---

