---
title: "Ubuntu:  chntpw.deb   verification"
date: 2010-08-20
forum: General Help
---

### Post by Janis_2 on 2010-08-20
:(  I was hoping for a more detailed answer so will rephrase my questions.   Booting up Ubuntu Live CD,   I need to know the next step to verify that chntpw.deb is installed.   If it isn't how to I get it installed as per the tutorial as I am getting an error message of not found.   Then I tried downloading via internet.  I get to the page showing "The information about available software is out of date"  Instructions are to close and then reload; choosing close, does exactly that.   Should that apply to the first box that appears "downloadable from the internet"?   Help with either using the software I have on the USB or the internet would be greatly appreciated.

---

