---
title: "Email Verification"
date: 2010-01-09
forum: General Help
---

### Post by vurwolf on 2010-01-09
Hey all,

Is there a program in Ubuntu that can check a list of email to make sure they are live. I have a HUGE list of emails that I need to verify. 

[http://verify-email.org/]("http://verify-email.org/")

This site verifies email addresses 1 at a time. I need the same thing but I need it to read a text file list of emails and spit out the good ones.

If anyone can help me out I would appreciate it.

---

### Post by vurwolf on 2010-01-09
[http://articles.sitepoint.com/article/users-email-address-php#]("http://articles.sitepoint.com/article/users-email-address-php#")

This site has some awesome information about this.

If someone can develop a this I am willing to pay for your it. But I need to see if it really works first though.

---

### Post by sd88 on 2010-06-15
As stated on
[http://verify-email.org/buy-script.htm](http://verify-email.org/buy-script.htm)
you can buy the script there for $44.90

---

### Post by afrodeity on 2011-11-16
I know this is late, but try thunderplunger, a thunderbird plugin. It only verifies one email at a time, but its a start.

---

### Post by dcstar on 2011-11-17
Very important for Spammers to know that they are sending to valid e-mail addresses.

That is why a lot of mail sysadmins simply set their systems to accept e-mails for any address in their domains so the Spammers never find out that they are wasting their resources sending to bad addresses.

The same methods make any of these other verification methods useless.

---

