---
title: "CD verification"
date: 2010-03-18
forum: Installation &amp; Upgrades
---

### Post by mattbond on 2010-03-18
Having downloaded 9.10 desktop verified the download with the md5sum I have burned the iso to disk. I can boot to the boot menu on the disk but if I try anything further I have little success. Starting with verifying the CD, this will take an age displaying the pulsing ubuntu logo before finally displaying a load of stdin in errors dropping out to a partially usable shell. 
 
if I attempt to use the try ubuntu without changing anything option then again the ubuntu logo displays for an age before dropping to a blank screen which does nothing. No helpful error messages anywhere, not even sure where to start looking for details as to what might be wrong. Any insights helpful...

---

### Post by phillw on 2010-03-18
Hi and welcome to the forums,

A quick check:
 Did you burn the CD at 4X speed - high burning speeds are known to cause issues for some

Regards,

Phill.

---

