---
title: "Install these packages without verification?"
date: 2005-08-18
forum: Installation &amp; Upgrades
---

### Post by syko on 2005-08-18
I just installed a new system running Ubuntu, and every time I try to install ANY package, I get a warning saying "install these packages without verification?". If I say yes, it works fine. The odd thing is that it didn't do it for the first few packages I installed, even after adding universe and multiverse to sources.list and doing "apt-get update". Any idea why this is happening?

-Dave

---

### Post by krusbjorn on 2005-08-18
I dont know for sure, but my guess is that there is no md5 sum to compare to when you get that message. I usually dont care about it. :P

---

### Post by syko on 2005-08-18
Yeah, that's kinda what I was thinking, but it seems like there should be one, right? Hm..

---

