---
title: "Burning program with verification"
date: 2007-04-04
forum: Multimedia &amp; Video
---

### Post by roberthr on 2007-04-04
Is there any GNOME program for burning CD/DVD that can verify after burning???

I know there is K3B which that has verification but it's not Gnome, there is also Nero which does verification but it's almost useless (you have to set speed option everytime, not to mention to complicated audio burning). Gnomebaker seems to be dead and doesn't have verification, Brasero seems nice but also does not verify after burning.

---

### Post by Qew on 2007-04-04
Personally, I'd bite the bullet and use K3b despite the fact you use Gnome (I use Xfce, but tend to like using the "best" tools for the job, even if they're from KDE). However, if your mind is set against, then I suppose [Gcombust](http://www.abo.fi/~jmunsin/gcombust/) might suit your needs and does verification. Still, it's not a pretty program and might need some getting used to, and it's also not been updated since nearly four years ago, but it worked fine for me when I was using it last year (for some reason, the K3b version I was using on Mandriva 2006 didn't play well with my setup).

---

### Post by roberthr on 2007-04-05
I've noticed brasero does some checking after burn. It takes ages to complete but if this is sort of verification I'm glad to have it.

Last year I lost about 8 DVDs which burned fine and later rendered unreadable due to burner failure which Gnomebaker couldn't detect. Then Nero destroyed few DVD-s because it forced them to be burned at much higher speed than allowed by media - as I mentioned in first post, Nero doesn't recall which setting were used in previous session so if I forgot to change speed, media was destroyed.

---

