---
title: "dhcp3-server mac address verification"
date: 2007-12-27
forum: Server Platforms
---

### Post by smisbe on 2007-12-27
Hello

Today I installed my server with ubuntu 7.10, everything is running as is should be, exept my dhcp server.

What I want is that there's an extra security with mac address verification, so that when you work with a static ip address the server doesn't give you access. Is this possible?

Thanks!

---

