---
title: "Patch Verification"
date: 2005-10-21
forum: Server Platforms
---

### Post by Nikodemis on 2005-10-21
I'm trying to develop a patch verification process I know I can use name -a to get the kernal rev, how can I verify the libs, etc.

Thanks
Take Care and Have Fun --John

---

