---
title: "Please explain site speed test results"
date: 2015-10-15
forum: Networking &amp; Wireless
---

### Post by papakota on 2015-10-15
Hello!
                            
                            I've run a few tests on my site's  performance and compared it to other sites. To me it's somewhat unclear,  so please clarify it to me.
                            I run in a SOHO environment a LAMP server with BIND. The server is an average modern laptop. 
                            The response times of my site are 2 to 3  times better, comparing to some other local sites. But DNS time is 2 to 3  times worse (I'm talking about the 1st attempts, 'cos after that DNS  caching takes places which nullifies it). The pings to my NS server are 2  to 3 times worse, accordingly comparing to those site whose DNS times  were better. Well, those sites are local search engines etc., so no  wonder, 'cos they have a better Internet backbone access. 
                            My question is... why all of a sudden my  response times are so great even comparing to those search engine best  performers?
                            To me it's confusing...

---

