---
title: "Photo verification"
date: 2011-06-26
forum: Multimedia Software
---

### Post by mr_mop on 2011-06-26
Hello,

I've copied a large photo collection to an external NAS drive for backup.  I've done a CRC check on the files and they all appear to have been copied OK.

What I'd like to do is verify that they can all actually be opened.
Is there anyone out there with a handy ImageMagick script or something similar that can whizz through and make sure?

---

### Post by mr_mop on 2011-07-07
For information, the way I've done this is to install a nice diff tool I've found called Beyond Compare and use that to do a CRC compare on all of the images.  I figure that a CRC check is good enough right?

---

