---
title: "optic media verification"
date: 2009-06-11
forum: Multimedia Software
---

### Post by dyheba on 2009-06-11
Hi!
I am looking for something that can test if optic media (CD/DVD) is good (readable). Something like Nero CD-DVD Speed, but it does not need to have that many options. I have big collection of old CDs and would like to test them without coping all files to HDD.

---

