---
title: "DVD &gt; ISO Verification"
date: 2009-02-05
forum: Multimedia Software
---

### Post by odduck on 2009-02-05
I'm trying to simply backup a DVD and would like to make sure that the .iso file created from said DVD is error free.  What's the best way to go about this?

I've looked high and low on these boards and even googled it but I guess either I'm just not using the right search query or this is a ridiculous question since I can't seem to find the answer on my own.  If anyone could answer the question or point me in the right direction, it would be greatly appreciated.

---

### Post by mc4man on 2009-02-05
Other than intentional errors on some discs (structure protection, which will be present on the .iso), if you were able to dump the disk to an .iso successfully that is the only verification you're going to get.

The only possible thing to compare to is the disk itself, the fact that it was read (dumped) without error means it's the same.

Verification is of value when burning an .iso, then your comparing your burn to the .iso, may seem the same but it's not.

---

### Post by odduck on 2009-02-05
thank you so much for the quick reply.

that seemed to be the way that my searching was pointing me towards but i guess i wanted it spelled out for me.

---

### Post by An85Zk9tc8rfjV8i on 2009-09-30
try this :
[Workaround for k3b ISO verify failure]("http://ubuntuforums.org/showpost.php?p=8029528&postcount=29")

---

